<div class="container">
  <div class="menu">
    <p class="menu__title">Gerenciador de Votação</p>

    <mat-icon
      class="menu__mobile"
      aria-label="menu"
      fontIcon="menu"
      (click)="toggleMenu()"
    ></mat-icon>
    <div class="menu__nav">
      <nav class="menu__nav__navigation" #menuNav>
        <ul class="menu__nav__navigation__list">
          <li class="menu__nav__navigation__list__item">
            <a class="menu__nav__navigation__list__item__name" routerLink="/"
              >Home</a
            >
          </li>
          <li class="menu__nav__navigation__list__item">
            <a
              routerLink="/cadastrar-pauta"
              class="menu__nav__navigation__list__item__name"
              >Cadastrar pauta</a
            >
          </li>
          <li class="menu__nav__navigation__list__item">
            <a
              routerLink="/lista-pautas"
              class="menu__nav__navigation__list__item__name"
              >Lista de pautas</a
            >
          </li>
          <li class="menu__nav__navigation__list__item">
            <a
              class="menu__nav__navigation__list__item__name"
              routerLink="/entrar"
              *ngIf="!isAuthenticated"
              >Entrar</a
            >
            <a
              (click)="logout()"
              *ngIf="isAuthenticated"
              class="menu__nav__navigation__list__item__name"
              >Logout</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
