<div class="container">
  <div class="menu">
    <div>
      <p class="menu__title">Gerenciador de Votação</p>
    </div>
    <div class="menu__nav">
      <ul class="menu__nav__lista">
        <li class="menu__nav__lista__item">
          <a class="menu__nav__lista__item__name" href="#">Home</a>
        </li>
        <li class="menu__nav__lista__item">
          <a class="menu__nav__lista__item__name" href="#">Cadastrar pauta</a>
        </li>
        <li class="menu__nav__lista__item">
          <a class="menu__nav__lista__item__name" href="#"
            >Sessões de votação</a
          >
        </li>
        <li class="menu__nav__lista__item">
          <a class="menu__nav__lista__item__name" href="#">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</div>
