<div class="container">
  <div class="list-pautas">
    <p class="list-pautas__title">Lista de Pautas</p>
    <div class="list-pautas__cards">
      <div class="list-pautas__cards__card" *ngFor="let pauta of pautas">
        <p class="list-pautas__cards__card__title">{{ pauta.titulo }}</p>
      </div>
    </div>
    <mat-paginator
      [pageSize]="pageSize"
      [pageSizeOptions]="[6, 50, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page"
      [length]="totalPautas"
    >
    </mat-paginator>
  </div>
</div>
